@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/* 
amarelo #ffce2b 
verde #00c9a8
font-family: 'Roboto', sans-serif;
*/
:root {
    --white: #fff;
    --black: #000;
    --green1: #31ACB2;
    --green2: #36B8BF;
    --font: font-family: 'Roboto', sans-serif;
  }
  


body {
    background-color: white;
    color: var(--black);
    width: 1400px;
    margin: auto;
    /* border: 1px solid black;  */
    /* depois tirar essa bordar */
}

header {
    background-color: rgba(189, 189, 189, 0.080);
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.103); */
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



nav div a{

    color: var(--black);
    float: right;
    /* line-height: 60px; */
    padding: 0px 10px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 10px;
}


.cad {
    font-weight: 400;
}

.botoes {
    padding-right: 10px;
}

.entrar {
    color: var(--black);
    transition: color 0.5s, background-color 0.5s;
    text-decoration: none;
    background-color: var(--green2);
    border-radius: 10px;
    color: white;
    font-weight: 400;
    /* height: 30px; */
    }

.entrar:hover {
    color: var(--green);
    background-color: var(--green1);
    border-radius: 10px;
    /* line-height: 60px;  */
}

.logo img {
    /* background-color: var(--yellow); */
    float: left;
    padding-left: 20px;
}

img {
    padding-top: 7px;
    width: 200px;
}

.placeholder {
    width: 350px;
    border: 2px solid var(--green2);
    border-radius: 3px;
    
}

.search-btn {
    border: 2px solid var(--green2);
    color: var(--black);
    border-radius: 3px;
    transition: color 0.5s, background-color 0.5s;
}
.search-btn:hover {
    color: var(--yellow);
    background-color: var(--green2);
}

form {
    float: right;
    line-height: 60px;
}

section {
    background-color: rgba(189, 189, 189, 0.080);
    padding: 10px;
}

.menu {
    display: flex;
    background-color: var(--green2);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    text-decoration: none;
}

.menu a {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

div a {
    text-decoration: none;
    color: var(--black);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(189, 189, 189, 0.080);
    height: 1600px;
    width: 100%;
    padding: 0px 50px;
}

.container {
    /* background-color: bisque; */
    min-width: 250px;
    max-width: 250px;
    height: 550px;
    /* border: 1px solid black; */
    margin: 100px 20px;
    justify-content: space-between;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    overflow: hidden;

}

.disc {
    background-color: var(--green2);
    height: 180px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer {
    background-color: rgba(189, 189, 189, 0.080);
    height: 800px;
}


.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h4 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

main p {
    color: white;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 0.9em;
}

.footer {
    height: 200px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
}

footer p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 50px 200px 100px 200px;
}
